<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title CodDev Starter Kit
    body
        main
            img(src=require("./assets/images/logo.png").default, alt="Logo da CodDev", class="logo")
            h1 Starter Kit v2020

            include ./links.pug
