div.links 
    a(href="https://www.youtube.com/PauloBezerraCodDev")
        i.fab.fa-youtube

    a(href="https://www.facebook.com/coddev2018")
        i.fab.fa-facebook

    a(href="https://www.instagram.com/coddev2018/")
        i.fab.fa-instagram

    a(href="https://t.me/s/coddev2008")
        i.fab.fa-telegram